/* The wrapper */
/* line 20, ../scss/styles-tables.scss */
.dataTables_wrapper {
  /* The table */
}
/* line 21, ../scss/styles-tables.scss */
.dataTables_wrapper .input, .dataTables_wrapper textarea, .dataTables_wrapper select {
  line-height: 25px;
}
/* line 25, ../scss/styles-tables.scss */
.dataTables_wrapper select {
  width: 75px;
}
/* line 29, ../scss/styles-tables.scss */
.dataTables_wrapper input {
  width: 150px;
}
/* line 33, ../scss/styles-tables.scss */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info {
  padding-left: 10px;
}
/* line 37, ../scss/styles-tables.scss */
.dataTables_wrapper .dataTables_length select {
  margin-top: 4px;
  margin-bottom: 4px;
}
/* line 42, ../scss/styles-tables.scss */
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_paginate {
  padding-right: 10px;
}
/* line 48, ../scss/styles-tables.scss */
.dataTables_wrapper .dataTable table {
  float: left;
}
/* line 52, ../scss/styles-tables.scss */
.dataTables_wrapper .dataTable thead th {
  text-align: left;
  padding: 5px 18px 5px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}

/* line 65, ../scss/styles-tables.scss */
#header-fixed {
  position: fixed;
  top: 40px;
  display: none;
  background-color: #FFF;
  z-index: 10;
}

/* The table */
/* line 75, ../scss/styles-tables.scss */
.dataTable thead th, #header-fixed thead th {
  text-align: left;
  padding: 5px 18px 5px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
}

/* The table header */
/* line 87, ../scss/styles-tables.scss */
.dataTable thead th {
  cursor: pointer;
}

/* line 92, ../scss/styles-tables.scss */
#header-fixed {
  -webkit-box-shadow: 0 1px 2px 0 #444444;
  -moz-box-shadow: 0 1px 2px 0 #444444;
  -ms-box-shadow: 0 1px 2px 0 #444444;
  -o-box-shadow: 0 1px 2px 0 #444444;
  box-shadow: 0 1px 2px 0 #444444;
}
/* line 95, ../scss/styles-tables.scss */
#header-fixed thead th {
  cursor: default;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
